// Arquivo variables.less
@primary-color: #182C61;
@secondary-color: #44bd32;
@hover-color: #4cd137;
@background-color: #f5f6fa;
@text-color: #fff;
@border-radius: 16px;
@button-border-radius: 8px;
@button-padding: 8px 0;
@menu-item-margin: 24px;
@product-margin-top: 40px;
@product-margin-bottom: 8px;
@product-padding: 56px 0;
